.footer-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media (min-width: 576px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .footer-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .footer-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1400px) {
  .footer-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

.footer-grid-item h6 {
  margin-bottom: 0.5rem;
}

.footer-grid-item ul {
  padding-left: 0;
  margin: 0;
}

.footer-grid-item li {
  margin-bottom: 0.25rem;
}
